body{
	padding-top: 70px;
}
.head-action {
	color:#fff; margin-right: 5px;
}

.body-action {
	color:#f89406; margin-right: 5px;
}
.input100 {
	width: 100px;
	text-align: center;
}
.input200 {
	width: 150px;
}

.breadcrumb-arrow:after{
	content: "\21e2";
}
.breadcrumb .nsbreadcrumb > li + li:before {
    content: "\21e2";
}
.btn-default-decolor{
    border-color: #ccc;
    color: #999;
}
.head-link, .head-link:link, .head-link:visited {
	color:#fff;
}

.head-link:hover, .head-link:active {
	color: #fff;
}
.ui-datepicker {
	z-index:2 !important;
}
.mbtm-sm {
	margin-bottom:10px;
}
.mleft-sm {
	margin-left: 10px;
}
.mright-sm {
	margin-left: 10px;
}
.cp {
	cursor: pointer;
}
.fa-blue{
	color: #337AB7;
	// text-shadow: 1px 1px 1px #ccc;
}
.panel-border {
	border-color:#DDDDDD !important;
}
.panel-title {
	font-size:14px;
}

.ng-invalid.ng-dirty {
 	border-color: #FA787E;
}

.ui-tpicker-grid-label td:hover
{
	color:#337AB7 !important;
}
.xsmall{
  font-size: 60%;
}

.badge-primary {
	background-color:#337ab7;
}
.button-fade {
	color: #fff;
	background-color:#ddd;
	border-color: #ddd;
}
.jhidden{display:none}
.btn-active {
	border-color:#bbff8e;
}

/*
disables auto-zoom
http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
*/

.gift-link {
	color: grey;
	font-size:smaller;
}