body{padding-top:70px}
.head-action{color:#fff;margin-right:5px}
.body-action{color:#f89406;margin-right:5px}
.input100{width:100px;text-align:center}
.input200{width:150px}
.breadcrumb .nsbreadcrumb>li+li:before,.breadcrumb-arrow:after{content:"\21e2"}
.btn-default-decolor{border-color:#ccc;color:#999}
.head-link,.head-link:active,.head-link:hover,.head-link:link,.head-link:visited{color:#fff}
.ui-datepicker{z-index:2!important}
.mbtm-sm{margin-bottom:10px}
.mleft-sm,.mright-sm{margin-left:10px}
.cp{cursor:pointer}
.fa-blue{color:#337AB7}
.panel-border{border-color:#DDD!important}
.panel-title{font-size:14px}
.ng-invalid.ng-dirty{border-color:#FA787E}
.ui-tpicker-grid-label td:hover{color:#337AB7!important}
.xsmall{font-size:60%}
.badge-primary{background-color:#337ab7}
.button-fade{color:#fff;background-color:#ddd;border-color:#ddd}
.jhidden{display:none}
.btn-active{border-color:#bbff8e}
.gift-link{color:grey;font-size:smaller}