<div class="panel panel-primary panel-border">
      <div class="panel-heading">
        <h3 class="panel-title">[[operation]] event: [[event.name]]</h3>
      </div>
      <div ng-show="flash_message.length">
  			<div class="col-md-12 ng-invalid">
				[[getErrors()]]
			</div>
	</div>
      <div class="panel-body">
		<div class="row mbtm-sm">
			<div class="col-md-12">
			<form>
				<div class="form-group">
					<!-- `Name` Field -->
					<label for="name">Name</label>
					<input class="form-control input-sm" placeholder="event name like: Birthdate, Wedding" name="name" type="text" id="name" ng-model="event.name" focus-me="true">
				</div>

				<div class="row">
						<div class="col-xs-6">
					<!-- `Day` Field -->
					<label for="when">On</label>
					<input class="form-control input-sm" id="datepicker" name="when" type="text" gaio-date ng-model="event.when" readonly="true">
					</div>

					<div class="col-xs-6">
					<!-- `Time` Field -->
					<label for="time">At</label>
					<input class="form-control input-sm" id="timepicker" name="time" type="text" gaio-time ng-model="event.time" readonly="true">
					</div>
				</div>
				<div style="margin-top:20px">
					<!-- Form actions -->
					<button class="btn btn-primary btn-xs" type="submit" ng-click="saveEvent('/')">Save</button>
					<button class="btn btn-primary btn-xs" type="submit" ng-click="saveEventAndGift();">Add Gifts</button>
					<button ng-click="go('/')" class="btn btn-default btn-default-decolor btn-xs">Cancel</button>
				</div>
			</form>
			</div>
		</div>
      </div>
    </div>
<script type="text/javascript">
// Datepicker
$(function() {
	$('#datepicker').datepicker({
	    inline: true,
	    dateFormat: 'd M, yy'
	});

	$('#timepicker').timepicker({
		stepMinute: 10,
		hourGrid: 4,
		minuteGrid: 10,
		timeFormat: 'HH:mm'
	});
})
</script>
