<div class="panel panel-primary panel-border">
      <div class="panel-heading">
        <h3 class="panel-title">[[operation]] gift for [[event.name]] event.
        <span class="pull-right badge mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[event.gifts.length]]</span>
        </h3>
      </div>
      <div ng-show="flash_message.length">
  			<div class="col-md-12 ng-invalid">
				[[getErrors()]]
			</div>
	</div>
      <div class="panel-body">
		<div class="row mbtm-sm">
			<div class="col-md-12">
			<form>
				<div class="form-group">
					<!-- `Name` Field -->
					<label for="name">Gift Name</label>
					<input class="form-control input-sm" placeholder="gift name like: iphone 6, samsung s5" name="name" type="text" id="name" ng-model="gift.name" focus-me="true">
				</div>

				<div class="row">
						<div class="col-xs-8">
					<!-- `Day` Field -->
					<label for="when">Gift Link</label>
					<input class="form-control input-sm" name="link" type="text" ng-model="gift.link" placeholder="url to the special gift?">
					</div>

					<div class="col-xs-4">
					<!-- `Time` Field -->
					<label for="time">Price</label>
					<input class="form-control input-sm" name="price" type="text" ng-model="gift.time" placeholder="0.0">
					</div>
				</div>
				<div style="margin-top:20px">
					<!-- Form actions -->
					<button class="btn btn-primary btn-xs" type="submit" ng-click="saveGift('/');">Save</button>
					<button class="btn btn-primary btn-xs" type="submit" ng-click="saveGift('events/' + event.id + '/gifts');">Save & New</button>
					<button ng-click="go('/')" class="btn btn-default btn-default-decolor btn-xs">Cancel</button>
				</div>
			</form>
			</div>
		</div>
      </div>
    </div>
<script type="text/javascript">
// Datepicker
$(function() {
	$('#datepicker').datepicker({
	    inline: true,
	    dateFormat: 'd M, yy'
	});

	$('#timepicker').timepicker({
		stepMinute: 10,
		hourGrid: 4,
		minuteGrid: 10,
		timeFormat: 'HH:mm'
	});
})
</script>
