<ul class="list-group">
  	<li class="list-group-item active">
	  	<a href="events" class="head-link">Gifts</a> <span class="breadcrumb-arrow"></span> <span ng-show="list_type == 1">Wishlist</span><span ng-show="list_type == 2">Received</span>
		<span>
			<i class="fa fa-search cp" data-toggle="tooltip" alt="search gift" title="search gift" ng-click="clearFilter();showSearch = !showSearch; focusInput=true"></i>
			<input type="text" ng-class="{'hidden': !showSearch}" class="input-xsmall" ng-model="searchGift" id="searchgift" focus-me="focusInput"/>
		</span>
		<span class="badge mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[gifts.length]]</span>
		<span class="pull-right">
			<a href="gift/new" class="head-link">
			<i class="fa fa-plus" alt="add gift" title="add gift"></i>
			</a>
		</span>
	</li>
  	<li ng-repeat="gift in gifts" ng-show="([gift] | filter:searchGift).length > 0"  class="list-group-item">
		<a href="gifts/[[gift.id]]" ng-cloak>[[gift.name]]</a>
		<span class="badge badge-primary mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[gift.length]]</span>
		<span class="pull-right"><i class="fa fa-remove cp fa-blue" alt="remove gift" title="remove gift" data-toggle="tooltip" ng-click="removeGift(gift, $index)"></i></span>
	</li>
</ul>
<ul class="list-group">
 	<li class="list-group-item active">
 		<a href="events/" class="head-link">Events</a>
	</li>
</ul>