<ul class="list-group" ng-controller="WishlistsController as wishlistsCtrl">
  	<li class="list-group-item active">
	  	Wish Lists
		<span>
			<i class="fa fa-search cp" data-toggle="tooltip" alt="search wishlist" title="search wishlist" ng-click="clearFilter();showSearch = !showSearch; focusInput=true"></i>
			<input type="text" ng-class="{'hidden': !showSearch}" class="input-xsmall" ng-model="searchWishlist" id="searchwhislist" focus-me="focusInput"/>
		</span>

		<span class="badge mleft-sm" ng-cloak data-toggle="tooltip" title="total wishlists">[[wishlists.length]]</span>
		<span class="pull-right">
			<a href="wishlists/new" class="head-link">
			<i class="fa fa-plus" alt="add whislist" title="add whislist"></i>
			</a>
		</span>
	</li>

	<li ng-repeat="wishlist in wishlists" ng-show="([wishlist] | filter:searchWishlist).length > 0" class="list-group-item">
		<a href="wishlists/[[wishlist.id]]" ng-cloak>[[wishlist.name]]</a>
		<span class="badge badge-primary mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[wishlist.gifts.length]]</span>
		<span class="pull-right"><i class="fa fa-remove cp fa-blue" alt="remove wishlist" title="remove wishlist" data-toggle="tooltip" ng-click="remove(wishlist, $index)"></i></span>
	</li>
	<li ng-hide="wishlists.length" class="list-group-item">no wishlists <button ng-click="go('/wishlists/new')" class="btn btn-primary btn-xs" title="add whislist">add one</button></li>
</ul>

<ul class="list-group" ng-controller="ReceivedController as receivedCtrl">
 	<li class="list-group-item active">
 		<a href="events/" class="head-link">Received</a>
		<span>
			<i class="fa fa-search cp" data-toggle="tooltip" alt="search event" title="search event" ng-click="clearFilter();showSearch = !showSearch; focusInput=true"></i>
			<input type="text" ng-class="{'hidden': !showSearch}" class="input-xsmall" ng-model="searchEvent" id="searchevent" focus-me="focusInput"/>
		</span>
		<span class="badge mleft-sm" ng-cloak data-toggle="tooltip" title="total events">[[received.length]]</span>
		<span class="pull-right">
			<a href="events/new" class="head-link">
				<i class="fa fa-plus" alt="add event" title="add event"></i>
			</a>
		</span>
	</li>
	<li ng-repeat="event in events" ng-show="([event] | filter:searchEvent).length > 0"  class="list-group-item">
		<a href="events/[[event.id]]" ng-cloak>[[event.name]]</a>
		<span class="badge badge-primary mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[event.gifts.length]]</span>
		<span class="pull-right"><i class="fa fa-remove cp fa-blue" alt="remove event" title="remove event" data-toggle="tooltip" ng-click="removeEvent(event, $index)"></i></span>
	</li>
</ul>