<ul class="list-group">
 	<li class="list-group-item active">
 		<strong><a  class="head-link" href="javascript:void(0);">[[wishlist.name]]</a></strong> wish list
		<span class="badge mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[wishlist.gifts.length]]</span>
	</li>
	<li ng-repeat="gift in wishlist.gifts" ng-show="([gift] | filter:searchGift).length > 0"  class="list-group-item">
		<a href="javascript:void(0);">[[gift.name]]</a><a target="_blank" ng-show="gift.link" class="gift-link" href="[[gift.link]]"> on ([[globals.hostname(gift.link)]])</a>
		<span class="pull-right mleft-sm"><i class="fa fa-remove cp fa-blue" alt="remove gift" title="remove gift" data-toggle="tooltip" ng-click="remove(gift, $index)"></i></span>
		<span class="pull-right">
			<button ng-click="book()" type="submit" class="btn btn-success btn-xs" title="book">book</button>
			<span class="label label-warning btn-xs" title="reserved">reserved</span>
		</span>
	</li>
</ul>