<ul class="list-group">
 	<li class="list-group-item active">
 		<a class="head-link" href="/">Wish Lists</a> <span class="breadcrumb-arrow"></span> <strong><a  class="head-link" href="javascript:void(0);" ng-click="wishlist_editing=!wishlist_editing">[[wishlist.name]]</a></strong> wish list

		<span class="badge mleft-sm" ng-cloak data-toggle="tooltip" title="total gifts">[[wishlist.gifts.length]]</span>

		<span class="pull-right mleft-sm">
			<a href="javascript:void(0);"  ng-click="add_gift()" class="head-link">
			<i class="fa fa-plus" alt="add gift" title="add gift"></i>
			</a>
		</span>

		<span class="pull-right">
			<a href="javascript:void(0);" class="head-link">
			<i ng-show="!wishlist_editing" class="wishlist-edit fa fa-chevron-left" alt="modify wishlist" title="modify wishlist" ng-click="wishlist_editing=true"></i>
			<i ng-show="wishlist_editing" class="wishlist-noedit fa fa-chevron-down" alt="modify wishlist" title="modify wishlist" ng-click="wishlist_editing=false"></i>
			</a>
		</span>

		<div class="row" ng-show="wishlist_editing">
			<form ng-submit="submitWish(wishlist)" novalidate name="wishForm">
            <div class="col-xs-7">
			<input class="form-control input-sm" placeholder="wishlist name: my wedding" name="name" type="text" id="wishlist_name" ng-model="wishlist.name" focus-me="true" required>
			</div>
			<div class="pull-left">
				<button type="submit" ng-click="saveWish()" class="btn btn-default btn-sm">save</button>
			</div>
			</form>
		</div>
	</li>

	<li ng-repeat="gift in wishlist.gifts" ng-show="([gift] | filter:searchGift).length > 0"  class="list-group-item">
		<a href="javascript:void(0);" ng-click="edit(gift, $index)" ng-cloak>[[gift.name]]</a>
		<span class="pull-right"><i class="fa fa-remove cp fa-blue" alt="remove gift" title="remove gift" data-toggle="tooltip" ng-click="remove(gift, $index)"></i></span>
		<div class="row mbtm-sm jhidden gift-edit gift-id-[[$index]]">
			<div class="col-md-12">
			<form ng-submit="submit(gift)" novalidate name="giftForm">
				<div class="form-group">
					<!-- `Name` Field -->
					<label for="name">Gift Name</label>
					<div ng-show="giftForm.name && errorName">[[errorName]]</div>
					<input class="form-control input-sm" placeholder="gift name like: iphone 6, samsung s5" name="name" type="text" id="name" ng-model="gift.name" focus-me="true" required>
				</div>

				<div class="row">
					<div class="col-xs-8">
					<!-- `Day` Field -->
					<label for="when">Gift Link</label>
					<input class="form-control input-sm" name="link" type="text" ng-model="gift.link" placeholder="url to the special gift?">
					</div>

					<div class="col-xs-4">
					<!-- `Time` Field -->
					<label for="time">Price</label>
					<input class="form-control input-sm" name="price" type="text" ng-model="gift.time" placeholder="0.0">
					</div>
				</div>
				<div style="margin-top:20px">
					<!-- Form actions -->
					<button class="btn btn-primary btn-xs" type="submit" ng-click="saveAndNew(gift, $index);">Save & New</button>
					<button class="btn btn-primary btn-xs" type="submit" ng-click="save(gift, $index);">Save</button>
					<button ng-click="cancel(gift, $index)" class="btn btn-default btn-default-decolor btn-xs">Cancel</button>
				</div>
			</form>
			</div>
		</div>
	</li>

	<li ng-hide="wishlist.gifts.length" class="list-group-item">no gifts <button ng-click="add_gift()" class="btn btn-primary btn-xs" title="add gift">add one</button></li>

	<li ng-show="wishlist.gifts.length" class="list-group-item whislist-buttons">
		<form>
			<button ng-click="add_gift()" type="submit" class="btn btn-primary btn-xs" title="add gift">add gift</button>
			<button ng-click="share()" class="btn btn-primary btn-xs" title="add whislist">share on facebook</button>
			<button ng-click="go('/')" class="btn btn-default btn-default-decolor btn-xs">back</button>

		</form>
	</li>
</ul>